
<div class="ContainerCompanyLogos">
    <div class="tittleCompany"><a2>TRUSTED BY THOSE TEAMS </a2></div>
    <div class="containerflexCompanyLogos">
        <div class="Companylogos"> <img src="../assets/images/icons/company_logos/logo1.svg"></div>
        <div class="Companylogos"> <img src="../assets/images/icons/company_logos/architech-pc.svg"></div>
        <div class="Companylogos"> <img src="../assets/images/icons/company_logos/logo1.svg"></div>
        <div class="Companylogos"> <img src="../assets/images/icons/company_logos/logo1.svg"></div>
        <div class="Companylogos"> <img src="../assets/images/icons/company_logos/logo1.svg"></div>
        <div class="Companylogos"> <img src="../assets/images/icons/company_logos/logo1.svg"></div>
    </div>
</div>