<div class="ContactForm">
    <div class="containerC">
      <div class="ContactFormSectionL">
        <div class="titleF">
          <a2>Contact us</a2>
        </br>
        <a1>For more enquiries please fill out this form:</a1>
      </div>
      <div class="Form">
        <form action="/action_page.php">
          <div class="form-group">
            <label for="fname">First name:</label>
            <input
              type="text"
              id="fname"
              name="fname"
              placeholder="Your First name"
            ></div>
            <div class="form-group">
              <label for="lname">Last name:</label>
              <input
                type="text"
                id="lname"
                name="lname"
                placeholder="Your First name"
              ></div>
              <div class="form-group textareaa">
                <label for="subject">Subject</label>
                <textarea
                  id="subject"
                  name="subject"
                  placeholder="Write something.."
                ></textarea>
              </div>
              <div class="form-group">
                <input class="buttonF" type="submit" value="Submit"></div>
              </form>
            </div>
          </div>
          <div class="ContactFormSectionR">
            <div class="ContactFormA">
              <a2>Miscellaneous information</a2>
              <a3>Phone</a3>
              <a4>** *** ****</a4>
              <a3>Email Us</a3>
              <a4>example@example</a4>
              <a3>Jobs</a3>
              <a4>example@example</a4>
              <a3>Office adress</a3>
              <div class="left-text">
                <a4>Studio 103</br>
                The Business Centre 61 Wellfield Road Roath Cardiff CF24 3DG
              </a4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  