<div class="ContainerC2">
    <div class="ContactTitleBox">
        <h2>Contact us</h2>
        <h3>For More Enquiries Please Fill Out This Form:</h3>
    </div>
        
    <div class="ContactBox">
            <div class="ContactBoxForm">
                <a1>Send us a message</a1>
                <div class="FormBox">
                    <div class="formFlex">
                        <form class="formm" action="/action_page.php">
                            <div class="form-group first">
                                <label for="fname">First name:</label>
                                <input type="text" id="fname" name="fname" placeholder="Your First name">
                            </div>
                            <div class="form-group second">
                                <label for="lname">Email</label>
                                <input type="text" id="lname" name="lname" placeholder="Your First name">
                            </div>
                            <div class="form-group first">
                                <label for="lname">Country</label>
                                <input type="text" id="lname" name="lname" placeholder="Your First name">
                            </div>
                            <div class="form-group second">
                                <label for="lname">Subject</label>
                                <input type="text" id="lname" name="lname" placeholder="Your First name">
                            </div>
                            <div class="form-group textareaa2">
                                <label for="subject">Your message</label>
                                <textarea id="subject" name="subject" placeholder="Write something.."></textarea>
                            </div>

                          </form> 
                          </div>

                </div>
            </div>
            <div class="ContactBoxInfo">
               
                    <a1>Contact Information</a1>
                   
                        <div class="ContactSet" id="phone">
                            <img src="../assets/images/icons/Contact/contacto.png">
                            <a>Phone :000 000 000</a>
                        </div>
                        <div class="ContactSet" id="Email">
                            <img src="../assets/images/icons/Contact/interfaz(1).png">
                            <a>Email : example@example.com</a>
                        </div>
                        <div class="ContactSet" id="EmailJob">
                            <img src="../assets/images/icons/Contact/podcast.png">
                            <a>Jobs : example@example.com</a>

                        </div>
                
            </div>
    </div>
</div>