<footer >

<div class="resumefooter">
    <div class="resumeflex">
        <div class="textresume borderTittle"><a>Tittle</a></div>
        <div class="textresume">Loddsarem</div>
        <div class="textresume">Tlsadorem</div>
        <div class="textresume">Tlssssorem</div>
        <div class="textresume">Tlaaorem</div>
        <div class="textresume">Tldorem</div>
    </div>
    <div class="resumeflex">
        <div class="textresume borderTittle"><a>Tittle</a></div>
        <div class="textresume">Lorem</div>
        <div class="textresume">Tlorem</div>
        <div class="textresume">Tlorem</div>
        <div class="textresume">Tlorem</div>

    </div>
    <div class="resumeflex">
        <div class="textresume borderTittle"><a>Tittle</a></div>
        <div class="textresume">Lorem</div>
        <div class="textresume">Tlorem</div>
        <div class="textresume">Tlorem</div>
        <div class="textresume">Tlorem</div>
    </div>
    <div class="resumeflex social">
        <div class="SmallContact">
        <h6>Contact us</h6>
        <a>(+34)321 321 321</a>
        <a>emailexample@gmail.com</a>
    </div>
        <div class="SocialList">
            <h6>Fallow Us </h6>
            <div>
            <img src="../assets/images/icons/social/facebook.png">
            <img src="../assets/images/icons/social/twitter.png">
            <img src="../assets/images/icons/social/linkedin.png">
            <img src="../assets/images/icons/social/instagram.png">
        </div>
        </div>
    </div>
</div>

<div class="bottomfooter">
<div> </div>

</div>
</footer>