<div class="group">
	<div class="colS">
		<div class="services S_1">
			<div class="imgS"> <img src="../assets/images/icons/LandingPage/abierto-24-horas.png"></div>
			<div class="textS"><a>Administrative & Executive Assistant</a>
			<p>Whether Admin Assistant, Professional Assistant, Virtual Administrative Assistant, Online Administrative Assistant, Virtual Office Assistant, and Remote Assistant, they are just different names for the same role.</p>
			<div class="linkS"><a>Learn more</a></div>
			</div>
		
		
		
		</div>
		<div class="services S_1">
			<div class="imgS"> <img src="../assets/images/icons/LandingPage/abierto-24-horas.png"></div>
			<div class="textS"><a>Accounting / Bookkeeping </a>
			<p>Bookkeeping and Accounting perform a vital function for every profit-making business and usually demands a substantial investment of time. As your remote service provider, we assume the responsibility to waive off the burden through the best virtual accounting and bookkeeping services.</p>
			<div class="linkS"><a>Learn more</a></div>
			</div>
		
		
		
		</div>
		<div class="services S_1">
			<div class="imgS"> <img src="../assets/images/icons/LandingPage/abierto-24-horas.png"></div>
			<div class="textS"><a>BPO Services</a>
			<p>A great customer experience is essential for driving business growth and achieving long-term success. Hiring virtual customer service providers is the most effective and budget-friendly way to accomplish this critical goal.</p>
			<div class="linkS"><a>Learn more</a></div>
			</div>
		
		
		
		</div>

		<div class="services S_1">
			<div class="imgS"> <img src="../assets/images/icons/LandingPage/abierto-24-horas.png"></div>
			<div class="textS"><a>IT Support Services</a>
			<p>Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
			<div class="linkS"><a>Learn more</a></div>
			</div>

		</div>

		<div class="services S_1">
			<div class="imgS"> <img src="../assets/images/icons/LandingPage/abierto-24-horas.png"></div>
			<div class="textS"><a>Telemarketing Services</a>
			<p>No matter your business, you need marketing!
				As business competition toughens day by day, “marketing” has evolved a lot more than print ads and billboards. Telemarketing is a logical communication channel for major marketing processes in a business.</p>
			<div class="linkS"><a>Learn more</a></div>
			</div>
		
		
		
		</div>

		<div class="services S_1">
			<div class="imgS"> <img src="../assets/images/icons/LandingPage/abierto-24-horas.png"></div>
			<div class="textS"><a>Legal Process Outsourcing</a>
			<p>There is a recent phenomenal shift in the delivery model for legal services in the legal industry. This new model, known as legal process outsourcing or LPO.</p>
			<div class="linkS"><a>Learn more</a></div>
			</div>
		
	</div>
	</div>

</div>