<div class="ContainerS">
    <div class="flexContainerS">
        <div class="ContainerSL">
            <a2>BPO Services </a2>
            <p>A great customer experience is essential for driving business growth and achieving long-term success. Hiring virtual customer service providers is the most effective and budget-friendly way to accomplish this critical goal.</p>
            <div class="buttonC">Hire us </div> 
        </div>
        <div class="ContainerSR">
        <div class="imgservice"><img src="../assets/images/icons/LandingPage/negocio (1).png">
        </div>
        </div>
    </div>

</div>

<div class="moreInfoS">
    <div class="flexContainerS2">
        <div class="ContainerSL2">
            
            <p><span>Too busy to handle your calls and don’t want to hire in-house staff? </br>
                
                UpturnSolution virtual Call Center Services is the solution!</span> </br>
                
                We understand that you’re extremely busy managing your business and don’t want to sacrifice professionalism by repeatedly sending callers to voicemail. We offer Personal Virtual Assistants, Virtual Receptionists, Live Chat Agents, Support Team Assistants, Product Specialists / Sales Associates and more!
            </p>
         </div>

        </div>
    </div>
</div>

<div class="MoreInfoS2">
    <div class="flexContainerS3">
        <div class="ContainerSL3">
            <img src="../assets/images/icons/LandingPage/interfaz (1).png">

         </div>
         <div class="ContainerSR3">
            <a1>
                Our virtual Call Center Service offers the following:
            </a1>
            <ul>
                <li>Customer Retention Calls</li>
                <li>Order Processing Calls</li>
                <li>Phone Support Calls</li>
                <li>Reservation Calls</li>
                <li>Directory Assistance Call</li>
                <li>Dispatch Calls</li>
                <li>Helpdesk Calls</li>
                <li>Live Chat Support</li>
                <li>Credit Card Processing</li>
                <li>Upselling & Product Add-ons</li>
              </ul>  
        </div>
    </div>
</div>



<div class="MoreInfoS3">
    <div class="flexContainerS4">
        <div class="ContainerSL4">
            <img src="../assets/images/icons/LandingPage/interfaz (1).png">

         </div>
         <div class="ContainerSR3">
            <a1>
                Our virtual Call Center Service offers immediate customer assistance via:
            </a1>
            <ul>
                <li>Answering customers' queries over the phone</li>
                <li>Response to email to solve some concerns of customers</li>
                <li>Providing aid in the form of a live chat </li>
              </ul>  
              <p>Our remote Customer Service will serve as the customer’s point of contact for your business to answer questions about products and services and responds to inquiries.  </p>
        </div>
    </div>
</div>