<!-- 'Introduction Service '-->

<div class="ContainerS-Introduction">
    <div class="flexContainerS-Introduction">
        <div class="ContainerSL-Introduction">
            <a2>BPO Services</a2>
            <p>A great customer experience is essential for driving business growth and achieving long-term success. Hiring virtual customer service providers is the most effective and budget-friendly way to accomplish this critical goal.</p>
            <div class="buttonC">Hire us </div> 
        </div>
        <div class="ContainerSR">
        <div class="imgservice"><img src="../assets/images/icons/LandingPage/negocio (1).png">
        </div>
        </div>
    </div>

</div>

 

<!-- Text service -->

<div class="moreInfoServicesText">
    <div class="ContainerInfoText customTS2">
        <a2>Too busy to handle your calls and don’t want to hire in-house staff? </br> UpturnSolution virtual Call Center Services is the solution!</a2>
        <p>We understand that you’re extremely busy managing your business and don’t want to sacrifice professionalism by repeatedly sending callers to voicemail. We offer Personal Virtual Assistants, Virtual Receptionists, Live Chat Agents, Support Team Assistants, Product Specialists / Sales Associates and more!.
        </p>
    </div>
</div>

<!-- Normal Service( LEFT: Image , RIGHT: text ) -->

<div class="MoreInfoServicesImageText" >
    <div class="flexContainerImageText-normal">
        <div class="ContainerServiceImage">
            <img src="../assets/images/icons/LandingPage/interfaz (1).png">
         </div>
         <div class="ContainerServiceText">
            <a1>
                Tasks Your UpturnSolution Admin VA Can Take Over:
            </a1>
            <ul>
                <li>Sorting and Filing</li>
                <li>Photocopying and Collating</li>
                <li>Keeping records of all works and transactions</li>
                <li>Running Errands</li>
                <li>Typing Correspondence</li>
                <li>Word processing and typing</li>
                <li>Scheduling an appointment</li>
              </ul>  
        </div>
    </div>
</div>

<!--Service( LEFT: text , RIGHT: Image  ) -->


<div class="MoreInfoServicesImageText" >
    <div class="flexContainerImageText-reversed">
        <div class="ContainerServiceImage">
            <img src="../assets/images/icons/LandingPage/interfaz (1).png">
         </div>
         <div class="ContainerServiceText">
            <a1>
                Tasks Your UpturnSolution Admin VA Can Take Over:
            </a1>
            <ul>
                <li>Sorting and Filing</li>
                <li>Photocopying and Collating</li>
                <li>Keeping records of all works and transactions</li>
                <li>Running Errands</li>
                <li>Typing Correspondence</li>
                <li>Word processing and typing</li>
                <li>Scheduling an appointment</li>
              </ul>  
        </div>
    </div>
</div>

<div >

</div>