<div class="group">
	<div class="colS">
		<div class="services S_1">
			<div class="imgS"></div>
			<div class="textS"><a>Title_Service</a>
			<p>Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
			<div class="linkS"></div>
			</div>
		
		
		
		</div>
		<div class="services S_1">
			<div class="imgS"></div>
			<div class="textS"><a>Title_Service</a>
			<p>Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
			<div class="linkS"></div>
			</div>
		
		
		
		</div>
		<div class="services S_1">
			<div class="imgS"></div>
			<div class="textS"><a>Title_Service</a>
			<p>Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
			<div class="linkS"></div>
			</div>
		
		
		
		</div>
		<div class="services S_1">
			<div class="imgS"></div>
			<div class="textS"><a>Title_Service</a>
			<p>Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
			<div class="linkS"></div>
			</div>
		
		
		
		</div>
		<div class="services S_1">
			<div class="imgS"></div>
			<div class="textS"><a>Title_Service</a>
			<p>Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
			<div class="linkS"></div>
			</div>
		
		
		
		</div>
	</div>
	</div>

</div>