<div class="ContainerS">
    <div class="flexContainerS">
        <div class="ContainerSL">
            <a2>Accounting / Bookkeeping </a2>
            <p>Bookkeeping and Accounting perform a vital function for every profit-making business and usually demands a substantial investment of time. As your remote service provider, we assume the responsibility to waive off the burden through the best virtual accounting and bookkeeping services.</p>
            <div class="buttonC">Hire us </div> 
        </div>
        <div class="ContainerSR">
        <div class="imgservice"><img src="../assets/images/icons/LandingPage/negocio (1).png">
        </div>
        </div>
    </div>

</div>

<div class="moreInfoS">
    <div class="flexContainerS2">
        <div class="ContainerSL2">
            
            <p>Our Bookkeeping and Accounting services are designed and tailored to deliver on the specific accounting needs of your business. Whether you need a virtual team for bookkeeping or accounting for a thriving startup or an established business, when you choose UpturnSolution, you can rest assured knowing that you have hired one of the most reliable in the industry.
            </p>
         </div>

        </div>
    </div>
</div>

<div class="MoreInfoS2">
    <div class="flexContainerS3">
        <div class="ContainerSL3">
            <img src="../assets/images/icons/LandingPage/interfaz (1).png">

         </div>
         <div class="ContainerSR3">
            <a1>
                Some of the Accountant services that you may want to delegate are:
            </a1>
            <ul>
                <li>Accounting</li>
                <li>Bookkeeping</li>
                <li>Payroll Processing</li>
                <li>Financial Services</li>
                <li>Invoicing</li>
                <li>Receipts and Payments</li>

              </ul>  
        </div>
    </div>
</div>



<div class="MoreInfoS3">
    <div class="flexContainerS4">
        <div class="ContainerSL4">
            <img src="../assets/images/icons/LandingPage/interfaz (1).png">

         </div>
         <div class="ContainerSR3">
            <a1>
                Our Accounting& Bookkeeping team is up to date and experienced to work with different Accounting Software such as:
            </a1>
            <ul>
                <li>Quickbooks online</li>
                <li>Quickbooks Accountant</li>
                <li>Quiken</li>
                <li>Peachtree</li>
                <li>Microsoft Money</li>
                <li>Quicken</li>
                <li>Sage 50/Peachtree</li>
                <li>Freshbooks</li>
                <li>Expensify</li>            
              </ul>  
        </div>
    </div>
</div>