<div class="despre">
	<div class="container">
	<div class="despre_1">


		<div class="img">
			
		</div>
		
		</div>

		<div class="despre_2">
			<h2>Why hire us !<h2>
			<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus atque eaque rerum autem sapiente qui earum, vero natus modi? Rerum harum blanditiis sed vitae. Ipsam porro corporis voluptate eaque at!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus doloribus, deleniti suscipit dolore consectetur voluptate fugiat laborum eos libero hic voluptas eius vel modi quaerat aliquid voluptatem quibusdam voluptates fuga!
            </p>

			<div class="buttonG">Lorem ipsum</div>
		
		</div>
	</div>
</div>
